.spin {
    animation: loading-spinner 0.5s linear infinite;
    border-color: #0078cf #0000 #0000 #0078cf;
    border-radius: 50%;
    border-style: solid;
    border-width: 10px;
    box-sizing: border-box;
    height: 3rem;
    width: 3rem;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.left-col{
    display: none;
}
.right-col{
    width: 100% !important;
}
.subtext{
    display: none;
}
@keyframes loading-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(1turn);
    }
}
